@import "variable";

* {
  box-sizing: border-box;
}

html, body, div {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: $bg-color;
  padding: 2.5em 0 0;
  font-family: "Frutiger Neue W02 Book",Arial,Helvetica,sans-serif;
}

.container {
  background: white;
  width: 37.5em;
  min-height: 100px;
  margin: 0 auto;
  border-radius: .25em;
  padding: 0 3.15em 2.5em;

  header {
    padding-top: 3.5em;
    text-align: center;
  }

  h1 {
    margin: 0;
    font-weight: 400;
    letter-spacing: .02em;
    color: $title;
  }

  p {
    margin-top: .5em;
    letter-spacing: -.01em;
    color: $title-info;
  }
}

.search-bar {
  position: relative;
  margin-top: 1.65em;

  input {
    width: 100%;
    border: none;
    border-bottom: 0.05em solid #EAEBEC;
    font-size: 1.2em;
    opacity: .5;
    outline: none;
  }

  img {
    width: 1.25em;
    height: 1.25em;
    position: absolute;
    right: .3em;
    bottom: .3em;
  }
}

main {
  display: block;
  padding-top: 2.4em;
}

.user {
  margin-bottom: 1.85em;
  position: relative;

  img {
    width: 5em;
    height: 5em;
    border-radius: 100%;
    vertical-align: middle;
  }

  aside {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.6em;

    .name {
      color: $user-name;
    }

    .skill {
      color: $skill;
      font-size: .8em;
      letter-spacing: .03em;
    }

    .location {
      color: $location;
      margin-top: .2em;
      letter-spacing: -.02em;

      span {
        margin-left: .5em;
        color: $url;
      }
    }
  }
}

.custom-checkbox {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.25em;
  height: 1.25em;

  label {
    width: 1.25em;
    height: 1.25em;
    border: .1em solid $checkbox-circle;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }
  }

  input {
    visibility: hidden;
  }

  input:checked + label {
    border: none;
    background: url("../static/basketball.png") no-repeat center;
    background-size: 100%;
  }
}
